<div class="container mt-5">
  <h2 class="text-center text-primary">New Project</h2>

  <div class="card shadow-sm border-0">
    <div class="card-body">
      <%= render 'form' %>
      <%= link_to 'Back', projects_path, class: "btn btn-outline-secondary mt-3" %>
    </div>
  </div>
</div>
