<div class="container mt-5">
  <h2 class="text-center text-danger mb-4">Report a New Bug</h2>

  <%= render 'form' %>

  <div class="d-flex justify-content-center mt-4">
    <%= link_to 'Back', project_path(@bug.project), class: "btn btn-outline-secondary" %>
  </div>
</div>
