<div class="container mt-5">
  <h2 class="text-center text-primary mb-4">Your Projects</h2>

  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-lg border-0">
          <div class="card-body">
            <h5 class="card-title text-dark"><%= project.name %></h5>
            <p class="text-muted"><%= project.description.truncate(100) %></p>
            <div class="d-flex justify-content-center mt-3">
              <%= link_to 'View Project', developer_project_path(project), class: "btn btn-outline-primary btn-sm" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="d-flex justify-content-center mt-4">
   <%= paginate @projects %>
</div>

